/* GENERAL */
body{
    font-family: 'Open Sans', sans-serif;
}
.bg-gray{
    background: #E3E3E3;
    padding: 50px;
    text-align: center;
}
.box-center{
    text-align: center;
}

/* HEADER */
.header{
    background: #E23535;
    color: #FFF;
    height: 120px;
    line-height: 120px;
    text-align: center;
}
.header img{
    width: 170px;    
}

/* SUBHEADER */
.subheader{
    background: #333;
    color: #FFF;
    padding: 80px 0;
    text-align: center;
}
.subheader h3{
    font-size: 80px;
    font-size: 62px;
    letter-spacing: -1.5px;
    line-height: 62px;    
    margin-bottom: 20px;
    font-weight: 600;
}
.subheader p{
    font-size: 20px;
    color: #777;
    letter-spacing: 0.4px;
    line-height: 28px;
}
.subheader p a{
    font-size: 20px;
    color: #777;
    letter-spacing: 0.4px;
    line-height: 28px;
    text-decoration: underline;
}


/* GENERATOR MEME */
.box-input{
    max-width: 400px;
    padding: 40px 0;
    position: relative;
    top: 50%;
    margin-top: -150px;
    margin-left: 50px;    
}

.form-group input[type=text]{
    background: #EEEEEE;
    font-size: 14px;
    color: #B1B1B1;
    letter-spacing: 0.12px;    
    height: 45px;
    line-height: 45px;
    border: 0 none;
    padding-left: 10px;
    width: 100%;
}


.form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}
.form-group input::-moz-placeholder { /* Firefox 19+ */
  color: #333;
}
.form-group input:-ms-input-placeholder { /* IE 10+ */
  color: #333;
}
.form-group input:-moz-placeholder { /* Firefox 18- */
  color: #333;
}

/* Victor: Estilos del preview de la imagen; */
.preview .preview-image-container img{
    text-align: center;
    width: 100%;    
}

.preview .preview-image-container {
    position: relative;
    display: inline-block;
}
.preview .preview-image-container .preview-text-top,
.preview .preview-image-container .preview-text-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    letter-spacing: 2px;
}
.preview .preview-image-container .preview-text-top {
    top: 0;
}
.preview .preview-image-container .preview-text-bottom {
    bottom: 0;
}
/* End Victor */
.create,
#download{
    background: #E5332A;
    border-radius: 40px;
    font-size: 14px;
    color: #FFF;
    letter-spacing: 2px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 150px;
    margin: 0 auto;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.convert {
    background-color: #2ecc71;
}

.img-container{
    position: absolute;
    background: #E3E3E3;
    border: 1px solid #333;
    text-align: center;
    left: 50%;
    margin-left: -500px;
    z-index: 1;
}
.img-container img{
    width: 100%;
}
.img-container a{
    margin: 20px 0!important;
}


/* GALLERY */
.gallery{
    padding: 60px 0 180px 0;
}
.gallery .container-fluid{
    padding: 0;
}
.gallery .box-center h2{
    margin-bottom: 50px;
    font-weight: 600;
}
#backLoader{
    background: #FFF;
    position: fixed;
    width: 100%;
    height: 101%;
    display: none;
    z-index: 1;
}
.posicionLoader{
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
}
.posicionLoader img{
    display: block;
    margin: 0 auto;
}
.containerImg{
    display: inline-block;
    padding: 0;
    width: calc(20% - 0px);
    position: relative;
    margin: -6px 0;  
    cursor: pointer;
}


.containerImg:nth-child(odd){
    background-color: #E3E3E3;
}

.containerImg:nth-child(even){
    background-color: #333;
}
.containerImg h4{
    color: #EEEEEE;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    cursor: default;
}
.containerImg:nth-child(odd) h4{
    color: #333;
}

.containerImg img{
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.containerImg a{
    text-decoration: none;
    color: #333;
}




/* FOOTER */
footer{
    background: #333;
    color: #EEEEEE;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a,
footer a:hover{
    color: #EEEEEE;
    text-decoration: none;
}
footer .border-line{
    border-bottom: 1px solid #666;
    display: none;
}
footer .row{
    padding: 12px 0;
}
footer .box-alumns{
    text-align: right;
}


/* MOBILE VERSION */
@media (max-width: 767px) {
    .subheader{
        padding: 40px 0;
    }
    .gallery {
    padding: 60px 0;
    }
    
    .box-input {
        max-width: 100%;
        top: 0;
        margin-top: 0;
        margin-left: 0;
    }
    .containerImg {
        width: calc(50% - 0px);
    }    
    .containerImg img{
        height: 120px;
    }
    .img-container{
        left: 0;
        margin-left: 0;
    }
    footer{
        font-size: 10px;
        text-align: center;
        position: relative;
    }
    footer span{
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;    
    }
    footer .row{
        padding: 6px 0;
    }    
    footer .box-alumns {
        text-align: center;
        margin-top: 15px;
    }    
}

