    <!-- SUBHEADER -->
    <section class="subheader" id="subheader">
        <div class="container">
        	<div class="row">
        		<div class="col-md-12">
        		    <h3>Generador de memes</h3>
        		    <p>Memezinga nace de una idea loca cocinada en el Máster en Programación de aplicaciones con JavaScript y Node.js impartido por el gran <a href="https://twitter.com/kom_256" target="_blank">Ulises Gascón</a> en <a href="http://www.fictizia.com/" target="_blank">Fictizia</a>. Esta es la fase beta de esta idea y vamos a subir nuevas mejoras en breve, solo deciros que <a href="https://www.youtube.com/watch?v=hYkAsPxKJ3A" target="_blank">Estamos trabajando en ello</a>.</p>
        		    <p>Para más info, dudas y sugerencias lo podéis hacer en nuestra cuenta de twitter: <a href="https://twitter.com/awesomemzg" target="_blank">@awesomemzg</a></p>
        		</div>
        	</div>
        </div>
    </section>
    <!-- end SUBHEADER -->